.telefon_inner{
    margin-bottom: 10px;
}


.form-container{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.country_code {
    aspect-ratio: 1.7 / 1;
    width: 20%;
    margin-right: 0.5vw;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
   
}

.telefon_inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.telefon_input{
    width: 90%;
    margin-bottom: 0;
}